---
const { q1, a1, q2, a2, q3, a3, q4, a4 } = Astro.props;
---

<section>
  <div class="faq-container">
    <div class="faq-item">
      <div class="faq-question">
        <h3>{q1}</h3>
        <span class="toggle-btn">+</span>
      </div>
      <div class="faq-answer">
        <p>
          {a1}
        </p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        <h3>{q2}</h3>
        <span class="toggle-btn">+</span>
      </div>
      <div class="faq-answer">
        <p>
          {a2}
        </p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        <h3>{q3}</h3>
        <span class="toggle-btn">+</span>
      </div>
      <div class="faq-answer">
        <p>
          {a3}
        </p>
      </div>
    </div>
    <div class="faq-item">
      <div class="faq-question">
        <h3>{q4}</h3>
        <span class="toggle-btn">+</span>
      </div>
      <div class="faq-answer">
        <p>
          {a4}
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    font-family: Arial, sans-serif;
    margin: 0;
  }

  .faq-container {
    max-width: 100%;
    margin: 0 auto;
  }

  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .faq-question h3 {
    margin: 0;
    font-size: 1.2em;
  }

  .toggle-btn {
    font-size: 3.5em;
    cursor: pointer;
  }

  .faq-answer {
    display: none;
    padding-top: 10px;
    color: white;
  }

  .faq-item.active .faq-answer {
    display: block;
  }


</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const faqItems = document.querySelectorAll(".faq-item");

    faqItems.forEach((item) => {
        const question = item.querySelector(".faq-question");
        const toggleBtn = question.querySelector(".toggle-btn");

        question.addEventListener("click", () => {
            item.classList.toggle("active");
            toggleBtn.textContent = item.classList.contains("active") ? "-" : "+";
        });
    });
});
</script>
